<!DOCTYPE html>
<html lang="es">
<head>
      <!-- this is of second form for use css-->
      <meta charset="UTF-8">
       <title>Footing</title>
<link rel="stylesheet" type="text/css" href="../css/foott.css">

</head>

<body>

<div id="foot">

    <div class="divfoot">
     <span class="spanfoot">Inico</span>
     <ul>

     <li><a href= "../index.html" class="menus" target="parent">Inicio</a> </li>
         <li> <a href="../quienes_somos.html" class="menus" target="blank">¿Quienes somos?</a> </li>
          <li><a href="../contact.html" class="menus" target="blank">Contactanos</a></li>
      <li><a href="../mision.html" class="menus" target="parent"> Misión</a></li>
      <li><a href="../vision.html" class="menus" target="parent"> Visión</a></li>
      <li> <a href="../loguin.html" class="menus" target="parent" class="raya">Ingresar</a></li>
     </ul>
 </div>

<div class="divfoot">
     <span class="spanfoot">Acerca de nosotros</span>
<ul>
      <li><a href= "../origen de la bateria.html" class="menus" target="parent">Origen</a> </li>
      <li><a href="../La_bateria_en_decadas.HTML" class="menus" target="parent">La Bateria En Decadas</a></li>
      <li><a href="../elementos.html" class="menus" target="parent">Elementos de bateria</a></li>
      <li> <a href="../tambores y platillos.html" class="menus" target="parent">Tambores Y Platillos</a></li>
      <li><a href="../juegos_drums.html" class="menus" target="parent">Juegos de bateria</a></li>
</ul>   
</div>
     <div class="divfoot">
     <span class="spanfoot">Sigeunos...</span>
<ul>
      <a href="https://www.facebook.com/dwdrums/" target="blank"  > <img src="../images/Facebook.png" width="10%"  ></a>
</ul>
<ul>
      <a href="https://www.instagram.com/drumsoutlet/"  target="blank"> <img src="../images/insta.png"width="10%" ></a>
</ul>
<ul> 
      <a href="https://co.pinterest.com/search/pins/?q=drums&rs=typed&term_meta[]=drums%7Ctyped"   target="blank"> <img src="../images/pinterest.png"width="10%" ></a>
</ul>
 
</div> 
    

</div>

</body>
</html>

