<!DOCTYPE html>
<html lang="es">
<head>
      <!-- this is of second form for use css-->
      <meta charset="UTF-8">
       <title>Header</title>

<link rel="stylesheet" type="text/css" href="../css/header.css">

</head>

    <!--  <div id="First">-->
<center>
         <ul class="ul"> 
         <li class="li" ><a href= "../index.html" target="parent" >Inicio</a></li>
         <li class="li"><a href="../quienes_somos.html" target="blank">¿Quienes somos?</a></li>
         <li class="li"><a href="../contact.html" target="blank">Contactanos</a></li>
         <li class="li"> <a href="../mision.html" target="parent"> Misión</a></li>
         <li class="li"><a href="../vision.html" target="parent"> Visión</a></li>
         <li class="li"><a href="../loguin.html" target="parent" >Ingresar</a></li>
       </ul>   
   </center>

<!-- </div>-->
<BR>


<div id="margin">
<center>
       <span id="mi1h1"><strong>DRUMS SH</strong></span><span id="mi2h1"><strong>OP RUIZ</strong></span>  

<br>

<p>

   Encuentra la Bateria que <strong>Deseés</strong>

</p>

<div id="img">
  <img src="../images/bateria banner.png" width="20%">
</div>

<div id="container">
     <ul class="menus_ul">
        <li><a href= "../origen de la bateria.html" class="menus" target="blank" target="parent">Origen</a></li>
        <li><a href="../La_bateria_en_decadas.HTML" class="menus" target="parent">La Bateria En Decadas</a></li>
        <li><a href="../elementos.html" class="menus" target="parent">Elementos de bateria</a></li>
        <li><a href="../tambores y platillos.html" class="menus" target="parent">Tambores Y Platillos</a></li>
        <li><a href="../juegos_drums.html" class="menus" target="parent">Juegos de bateria</a></li>
        <li><a href="../"class="menus" target="parent">Ritmos de bateria</a></li>
    </ul>
</div>

</center>







<!--<div >
     <ul class="menus_ul">
        <li><a href= "../origen de la bateria.html" class="menus" target="parent">Origen</a></li>
        <li><a href="../La_bateria_en_decadas.HTML" class="menus" target="parent">La Bateria En Decadas</a></li>
        <li><a href="../elementos.html" class="menus" target="parent">Elementos de bateria</a></li>
        <li><a href="../tambores y platillos.html" class="menus" target="parent">Tambores Y Platillos</a></li>
        <li><a href="../juegos_drums.html" class="menus" target="parent">Juegos de bateria</a></li>
    </ul>--> 
 


</ul>   
</div>


</body>
</html>
